arm/azure-data-factory-pipeline.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": {
        "description": "Azure Data Factory name"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Azure Data Factory Pipeline name"
      }
    },
    "databricksServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Databricks linked service"
      }
    }
  },
  "variables": {
    "pipelineResourceName": "[concat(parameters('factoryName'), '/', parameters('pipelineName'))]"
  },
  "resources": [
    {
      "name": "[variables('pipelineResourceName')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Get user",
            "type": "DatabricksNotebook",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "notebookPath": "/Shared/generic/print-current-user"
            },
            "linkedServiceName": {
              "referenceName": "[parameters('databricksServiceName')]",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Create Database",
            "type": "DatabricksNotebook",
            "dependsOn": [
              {
                "activity": "Get user",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "notebookPath": "/Pipeline/01-create-database",
              "baseParameters": {
                "DATABASE_NAME": {
                  "value": "@pipeline().parameters.databaseName",
                  "type": "Expression"
                },
                "DATABASE_LOCATION": {
                  "value": "@pipeline().parameters.databaseLocation",
                  "type": "Expression"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('databricksServiceName')]",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Source to Bronze",
            "type": "DatabricksNotebook",
            "dependsOn": [
              {
                "activity": "Create Database",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "notebookPath": "/Pipeline/02-source-to-bronze",
              "baseParameters": {
                "sourcePath": {
                  "value": "@pipeline().parameters.sourcePath",
                  "type": "Expression"
                },
                "bronzeTable": {
                  "value": "@concat(pipeline().parameters.databaseName, '.', pipeline().parameters.bronzeTableName)",
                  "type": "Expression"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('databricksServiceName')]",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Bronze to Silver",
            "type": "DatabricksNotebook",
            "dependsOn": [
              {
                "activity": "Source to Bronze",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "notebookPath": "/Pipeline/03-bronze-to-silver",
              "baseParameters": {
                "bronzeTable": {
                  "value": "@concat(pipeline().parameters.databaseName, '.', pipeline().parameters.bronzeTableName)",
                  "type": "Expression"
                },
                "silverTable": {
                  "value": "@concat(pipeline().parameters.databaseName, '.', pipeline().parameters.silverTableName)",
                  "type": "Expression"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('databricksServiceName')]",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "parameters": {
          "databaseName": {
            "type": "string"
          },
          "databaseLocation": {
            "type": "string"
          },
          "sourcePath": {
            "type": "string"
          },
          "bronzeTableName": {
            "type": "string",
            "defaultValue": "bronze"
          },
          "silverTableName": {
            "type": "string",
            "defaultValue": "silver"
          }
        },
        "annotations": []
      }
    }
  ]
}
